@mixin collapse {
  border-radius: 0;
  border: none;
  background: transparent;

  .ant-collapse-item {
    border-color: $db48;

    &:last-child,
    &:last-child>.ant-collapse-header {
      border-radius: 0;
    }
  }

  .ant-collapse-header {
    background: $db49;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    padding: 11px 16px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 900;

    .ant-collapse-arrow {
      right: 24px;
    }
  }

  .ant-collapse-content {
    background: transparent;
    color: $white;
    border: none;
  }
}

// 头部操作按钮背景样式
// @each $name in withdraw,
// publish,
// preview,
// back,
// save,
// release {
//   .#{$name} {
//     background-image: url(../../assets/#{$name}.png);
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center center;

//     &:hover {
//       background-image: url(../../assets/#{$name}-h.png);
//     }

//     &:focus {
//       background-image: url(../../assets/#{$name}-a.png);
//     }
//   }
// }

.page-create-app {
  font-family: '微软雅黑';
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .header {
    height: 48px;
    background: url(../../assets/header.png) 0 center no-repeat;
    background-position: center;
    border-bottom: 1px solid $db48;
    position: relative;

    .head-back {
      height: 100%;
      position: absolute;
      left: 10px;
      top: 0;
      display: flex;
      align-items: center;

      .back-prev {
        width: 10px;
        height: 14px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px 14px;
        background-image: url("../../assets/images/left-arrow.png");
        display: inline-block;
        cursor: pointer;

        &:hover {
          background-image: url("../../assets/images/back-hover.png");
        }
      }

      a {
        height: 32px;
        width: 46px;
      }
    }

    &__title {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      .back-icon {
        width: 1em;
        height: 1em;
        background-image: url(../../assets/icon/return.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

      &-text {
        @extend .m-left-10;
        @extend .m-right-10;
        margin-top: -1px;
        line-height: 48px;
        height: 48px;
        color: #fff;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .edit {
        width: 1em;
        height: 1em;
        cursor: pointer;
        background: url(../../assets/icon/edit.png) center/cover no-repeat;

        &:hover {
          background-image: url(../../assets/icon/edit_active.png);
        }
      }
    }

    &__btns {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &-item {
        height: 32px;
        width: 46px;
        text-align: center;
        margin-right: 20px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .main {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    position: relative;

    .icon {
      width: 8px;
      height: 12px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      cursor: pointer;

      &.icon-left {
        background-image: url('../../assets/icon/arrow-left.png');
        left: 266px;
        top: 13px;
        z-index: 999;
        transition: all .5s;

        &:hover {
          background-image: url('../../assets/icon/arrow-left-a.png');
        }

        &.collapse {
          width: 38px;
          height: 38px;
          left: 20px;
          top: 28px;
          background-image: url('../../assets/icon/right.png');

          &:hover {
            background-image: url('../../assets/icon/right-h.png');
          }
        }
      }

      &.icon-right {
        background-image: url('../../assets/icon/arrow-right.png');
        right: 346px;
        top: 13px;
        z-index: 999;
        transition: all .5s;

        &:hover {
          background-image: url('../../assets/icon/arrow-right-a.png');
        }

        &.collapse {
          width: 38px;
          height: 38px;
          right: 1px;
          top: 28px;
          background-image: url('../../assets/icon/left.png');

          &:hover {
            background-image: url('../../assets/icon/left-h.png');
          }
        }
      }
    }

    &-left {
      flex-shrink: 0;
      background: #021b2f;
      position: relative;
      height: 100%;
      width: 280px;
      display: flex;
      flex-direction: column;

      &-header {
        flex-basis: 40px;
        line-height: 36px;
        font-size: 14px;
        text-align: center;
        background-image: url('../../assets/left-header.jpg');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;

        &__tab-title {
          flex: 1;
          color: #fff;
          height: 100%;
          cursor: pointer;

          &.active {
            color: $brightGreen;
            font-weight: 900;
          }
        }
      }

      &-body {
        //flex: 1;
        overflow: hidden;
        display: block;

        &__nav-wrapper {
          height: calc(100vh - 88px);
          overflow: hidden;
          display: flex;
          flex-direction: column;
          background: $db32;
          width: 50px;
        }

        &__nav-list {
          flex: 1;
          overflow-x: hidden;
          overflow-y: auto;
          position: relative;

          &-item {
            padding: 20px 10px;
            font-size: 12px;
            line-height: 24px;
            position: relative;
            text-align: center;
            cursor: pointer;

            &.active {
              background: $db31;
              color: $db33;

              &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 2px;
                background: $db33;
              }
            }
          }
        }

        &__content {
          flex: 1;
          overflow-x: hidden;
          overflow-y: auto;
          height: calc(100vh - 88px);

          ::v-deep .ant-collapse {
            @include collapse();
          }
        }
      }
    }

    &-content {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      &__body {
        //flex: 1;
        padding: 20px 0 0 20px;
        overflow: hidden;
        border-bottom:1px solid #011121;

        .scroll-box {
          height: calc(100vh - 108px - 46px - 40px);
          width: calc(100vw - 332px - 382px);
          overflow: auto;

          .drag-item {
            display: inline-block;
          }

          .scale-box {
            background-repeat: no-repeat;
          }

          .close-container {
            height: 20px;
            width: 20px;
            background-image: url(~@/assets/icon/exit.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: absolute;
            right: 40px;
            top: 40px;
            border-radius: 50%;
            z-index: 9999;
            cursor: pointer;

            &:hover {
              background-image: url(~@/assets/icon/exit-a.png);

              &:after {
                position: absolute;
                right: -10px;
                bottom: -40px;
                content: attr(data-title);
                color: $brightGreen;
                border: 1px solid $brightGreen;
                padding: 6px 11px;
                @extend .radius-2;
                @extend .ft-12;
                min-height: 16px;
                line-height: 16px;
                white-space: nowrap;
                word-break: keep-all;
              }
            }
          }
        }

        .rule {
          position: absolute;
          width: auto;

          &-starter {
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background-image: url('../../assets/icon/ruler-start.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }

          &-x {
            left: 20px;
            top: 0;
          }

          &-y {
            top: 20px;
            left: 0;
          }
        }
      }

      &__footer {
        height: 46px;
        line-height: 46px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: $db42;

        .slider-container {
          display: flex;
          align-items: center;
          height: 100%;
          margin-left: 20px;

          ::v-deep .ant-slider {
            width: 200px;
            margin-right: 20px;

            .ant-slider-rail {
              height: 2px;
              background: linear-gradient(90deg, $brightGreen 0%, $db43 100%);
              // background: linear-gradient(to right, rgb(21, 47, 123) 0%, rgb(9, 38, 119) 100%);
            }

            .ant-slider-track {
              height: 2px;
              background-color: rgb(1, 159, 219);
            }

            &:hover .ant-slider-track {
              background-color: rgb(1, 159, 219);
            }

            .ant-slider-handle {
              border: none;

              &:hover {
                width: 16px;
                height: 16px;
              }
            }
          }

          .slider-icon {
            font-size: 20px;
            color: $brightGreen;
            margin-right: 20px;
          }
        }
      }

      .drag-ref-line {
        position: absolute;
        pointer-events: none;

        &.left {
          top: 0;
          bottom: 0;
          height: 100%;
          width: 2px;
          border-left: 1px dashed $lightGreen;
        }

        &.right {
          top: 0;
          bottom: 0;
          height: 100%;
          width: 2px;
          border-left: 1px dashed $lightGreen;
        }

        &.top {
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          border-top: 1px dashed $lightGreen;
        }

        &.bottom {
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          border-top: 1px dashed $lightGreen;
        }
      }
    }

    &-right {
      width: 382px;
      height: calc(100vh - 48px);
      flex-shrink: 0;
      border-left: 1px solid $db48;
      background: $db47;

      &-header {
        flex-basis: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        background-image: url("../../assets/right-header.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        &__tab-title {
          flex: 1;
          height: 100%;
          cursor: pointer;
          color: #fff;

          &.active {
            color: $brightGreen;
            font-weight: 900;
            // border-bottom: 2px solid $brightGreen;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
          }
        }
      }

      &-body {
        position: relative;
        height: calc(100% - 76px);
        overflow-y: auto;

        .tab-card {
          ::v-deep .ant-collapse {
            @include collapse();

            .ant-collapse-content {
              .ant-collapse-content-box {
                padding-bottom: 0;
              }
            }
          }

          ::v-deep .ant-card {
            background-color: transparent;
            border-radius: 0;
            color: #fff;

            &-head {
              color: #fff;
              border: none;
              margin-bottom: 0;
              min-height: 36px;

              &-title {
                padding: 0;
                height: 36px;
                line-height: 36px;
              }
            }

            &-body {
              padding: 0 24px;

              .map-data-table {
                display: table;

                .map-data-tr {
                  .map-data-cell {
                    display: table-cell;
                    padding: 0 20px;
                    min-width: 80px;
                  }
                }
              }
            }
          }

          ::v-deep .ant-form-item {
            margin-bottom: 12px;

            &.m-bottom-0 {
              margin-bottom: 0;
            }
          }

          ::v-deep .ant-switch {
            background: $db40;
            border-color: $db38;

            &.ant-switch-checked {
              background-color: $brightGreen;
              border-color: transparent;
            }
          }
        }
      }
    }
  }

  .confirm-dialog {
    .content {
      flex: 1;
      text-align: center;
      font-size: 16px;
    }

    .btn {
      width: 92px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background: $lightGreen;
      border-radius: 2px;
      cursor: pointer;

      &+.btn {
        margin-left: 10px
      }

      &.cancel {
        background: $dkBg;
        color: $lightGreen;
        border: 1px solid $lightGreen;

        &:hover {
          background: $btnActive;
          color: $white;

        }
      }

      &.leave-or-save {
        &:hover {
          background: $btnActive;
        }
      }
    }
  }

  .transition {
    transition: all .5s ease-in;
  }


}

.margin-left-upload-material {
  padding: 0 16px;

  ::v-deep .ant-upload-drag {
    border: 1px dashed #0E3753 !important;

    &:hover,
    &:active {
      border: 1px dashed #00FCFF !important;
    }
  }
}


#videoPlayer {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
}

.search-input {
  input {
    padding-left: 10px;
  }
}

.share-radio-group{
  label:not(:last-child){
    margin-right:56px;
  }
  label:last-child{
    margin-right: 0;
  }
}

.select-account {
  margin-top: 26px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #00FCFF;
  line-height: 21px;
}

.add-account-container {
  margin-top: 18px;

  .share-list {
      list-style: none;
      width: 100%;
      max-height: 300px;
      padding: 0;
      margin-top: 20px;
      color: #fff;
      overflow-y: auto;

      li {
          height: 38px;
          line-height: 38px;
          border-bottom:1px solid #0e3753;

          &:hover {
              background-color: #052541;
          }

          .share-account-name {
              font-size: 14px;
              font-family: Microsoft YaHei;
              font-weight: bold;
              color: #00FCFF;
          }

          .text-center {
              text-align: center;
          }

          .flex-center {
              height: 38px;
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
  }

  .account-input {
      width: 320px;
      height: 38px;
      border: 1px solid #0E3753;
      border-radius: 2px;
  }

  .confirm-btn {
      width: 80px;
      height: 38px;
      border: 1px solid #0E3753;
      border-radius: 2px;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #00FCFF;
  }
}

.define-modal {
  ::v-deep .ant-form-item-label {
      text-align: right;
  }

  ::v-deep .ant-modal-header {
      background: unset;
      border-bottom: 1px solid #0e3753;
  }

  ::v-deep .ant-modal-close-x {
      transition: all 0.3s ease;
  }

  ::v-deep .ant-modal-content {
      .ant-modal-close {
          .ant-modal-close-x {
              transition: all 0.3s ease;
          }
      }
  }

  ::v-deep .ant-modal-body {
      max-height: 500px;
  }

  ::v-deep .ant-modal-footer {
      border-top: 1px solid #0e3753;
  }

  ::v-deep .anticon-close {
      color: #00fcff;
      transition: all 0.3s ease;
  }

  ::v-deep .ant-modal-title {
      color: #fff;
      font-size: 14px;

      &::after {
          content: " ";
          display: inline-block;
          position: absolute;
          width: 4px;
          height: 16px;
          background: #00fcff;
          left: 12px;
          top: 19px;
      }
  }
}

.program-close-icon {
  float: left;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-image: url("../../assets/images/close-normal.png");
  display: inline-block;
  cursor: pointer;

  &:hover {
      background-image: url("../../assets/images/close-hover.png");
  }
}

.program-share-icon {
  float: right;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-image: url("../../assets/images/share.png");
  display: inline-block;
  cursor: pointer;

  &:hover {
      background-image: url("../../assets/images/share-hover.png");
  }
}